.metricsContainer {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.metric {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.metricName {
    font-weight: bold;
}
.urlForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.urlInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}

.analyzeButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.analyzeButton:hover {
    background-color: #0056b3;
}
